<tables>
    <!-- Location of Picard dict files valid for GATK -->
    <table name="picard_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/picard_index.loc" />
    </table>
</tables>
